.container{
    display: flex;
    align-content: center;
  }

.title{
  display: flex;
  font-size: 5em;
  padding-top: 80px;
  padding-left: 50px;
  font-family: 'Fredericka the Great';
}

.fire{
  color: red;
}