<div class="container">
    <!--Chiefs-->
    <div class="flex-container">
        <div *ngFor="let ff of getFireFighers('Chief')">
            <app-item-person [firefighter]="ff"></app-item-person><br>
        </div>
        <div *ngFor="let ff of getFireFighers('Deputy Chief')">
            <app-item-person [firefighter]="ff"></app-item-person><br>
        </div>
        <div *ngFor="let ff of getFireFighers('Assistent Deputy Chief')">
            <app-item-person [firefighter]="ff"></app-item-person><br>
        </div>
    </div>
</div>

<div class="container">
    <!--Captains-->
    <div class="flex-container">
        <div *ngFor="let ff of getFireFighers('Captain')">
            <app-item-person [firefighter]="ff"></app-item-person><br>
        </div>
    </div>
</div>

<div class="container">
    <!--Captains-->
    <div class="flex-container">
        <div *ngFor="let ff of getFireFighers('Lieutenant')">
            <app-item-person [firefighter]="ff"></app-item-person><br>
        </div>
    </div>
</div>

<div class="container">
    <div class="flex-container">
        <div *ngFor="let ff of getFireFighers()">
            <app-item-person [firefighter]="ff"></app-item-person><br>
        </div>
        <div *ngFor="let ff of getFireFighers('Probation')">
            <app-item-person [firefighter]="ff"></app-item-person><br>
        </div>
    </div>

</div>
