<app-header></app-header>
<div>
    <mat-tab-group mat-align-tabs="center" backgroundColor="accent" height="100%">  
      <mat-tab label="Home"><app-page-welcome></app-page-welcome></mat-tab>
      <!-- <mat-tab label="FireFighters"><app-page-firefighters></app-page-firefighters></mat-tab>
      <mat-tab label="Fleet"><app-page-fleet></app-page-fleet></mat-tab>    
      <mat-tab label="NB FireFighters 50/50"><app-page-draw></app-page-draw></mat-tab>
      <mat-tab label="About"><app-page-about></app-page-about></mat-tab> -->
      <mat-tab label="Contact Us"><app-page-contact></app-page-contact></mat-tab>    
      
    
  </mat-tab-group>
  
</div>